aiogram==2.11.2
aiohttp==3.7.3
async-timeout==3.0.1
numpy
python-decouple==3.4
Pillow==8.1.0


--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.5.0+cpu
torchfile==0.1.0
torchvision==0.6.0+cpu